<div id="resend-conf-form" class="form">

  <div class="main-login tab-content">
    <div id="resend-conf">
      <h1>Resend confirmation instructions</h1>

      <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
      <%= f.full_error :confirmation_token %>

      <div class="field-wrap">
        <%= f.input :email, required: true, autofocus: true %>
      </div>

      <%= f.button :submit, "Resend confirmation instructions", class: "button button-block" %>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>

  </div><!-- tab-content -->

</div> <!-- /form -->
