<div id="login-form" class="form">

  <div class="main-login tab-content">
    <div id="login">
      <h1>Welcome Back!</h1>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), validate: true, html: { id: :login_user }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field-wrap">
        <%= f.input :email, input_html: { id: :user_email1, data_validate: :true },  validate: true %>
      </div>

      <div class="field-wrap">
        <%= f.input :password, input_html: { id: :user_password2 }%>
      </div>


      <%= f.button :submit, "Log In", class: "button button-block" %>
      <hr/>
      <div class="fb-sign">
        <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), class: "fb-signup-btn" %><br />
        <% end -%>
        <% end -%>
      </div>
      <% end %>
      <div class="devise-links">
        <%= render 'devise/shared/links' %>
      </div>
    </div>

  </div><!-- tab-content -->

</div> <!-- /form -->
