<div class="dashboard-wrapper">
  <div class="dashboard-title">
    <h1>Welcome <%= current_user.first_name %></h1>
  </div>
  <div class="dashboard-container">
    <div class="dashboard-col-1">
      <% image = @user.photo.url ? @user.photo : "https://res.cloudinary.com/montycat/image/upload/v1520001176/profile-placeholder.png" %>
      <div id="img_prev" class="user-show-photo" style="background-image: url('<%= cl_image_path image, quality: "auto:low"; %>')">
      </div>
      <%= simple_form_for(@user, html: { method: :put }) do |f| %>
      <div class="change-photo-button">
        <%= f.input :photo, label: "Change Photo", class: 'upload-button', input_html: { id: "photo-input" } %>
        <%= f.input :photo_cache, as: :hidden %>
        <div class="form-actions">
          <%= f.button :submit, "Save", class: "photo-save-btn" %>
        </div>
      </div>
      <% end %>
      <ul class="navigation-area nav nav-tabs nav-stacked" role="tablist">
        <li role="presentation" class="dash-tab <%= (params[:active_tab] == nil) || (params[:active_tab] == 'profile') ? 'active' : '' %>"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><i class="fa fa-fw fa-user"></i> Profile</a></li>
        <li role="presentation" class="dash-tab <%= params[:active_tab] == 'messages' ? 'active' : '' %>"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><i class="fa fa-fw fa-envelope"></i> Messages</a></li>
        <li role="presentation" class="dash-tab <%= params[:active_tab] == 'events' ? 'active' : '' %>"><a href="#events" aria-controls="events" role="tab" data-toggle="tab"><i class="fa fa-fw fa-calendar"></i> Events</a></li>
        <% if current_user.is_speaker? %>
        <li role="presentation" class="dash-tab <%= params[:active_tab] == 'speaker-profile' ? 'active' : '' %>"><a href="#speaker-profile" aria-controls="speaker-profile" role="tab" data-toggle="tab"><i class="fa fa-fw fa-microphone"></i> Speaker Bio</a></li>
        <% end %>
        <li role="presentation" class="dash-tab <%= params[:active_tab] == 'account' ? 'active' : '' %>"><a href="#account" aria-controls="account" role="tab" data-toggle="tab"><i class="fa fa-fw fa-wrench"></i> Account</a></li>
      </ul>
    </div>
    <div class="dashboard-col-2">
      <div class="tab-content-container">
        <div class="tab-content">
          <div name="profile" role="tabpanel" class="tab-pane <%= (params[:active_tab] == nil) || (params[:active_tab] == 'profile') ? 'active' : '' %>" id="profile">
            <%= render 'users/shared/profile-edit' %>
          </div>
          <div role="tabpanel" class="tab-pane <%= params[:active_tab] == 'messages' ? 'active' : '' %>" id="messages">
            <%= render 'shared/inbox-container' %>
          </div>
          <div role="tabpanel" class="tab-pane <%= params[:active_tab] == 'events' ? 'active' : '' %>" id="events">
            <%= render 'shared/user-events-list' %>
          </div>
          <div role="tabpanel" class="tab-pane <%= params[:active_tab] == 'account' ? 'active' : '' %>" id="account">
            <p>Change your password or email address</p>
            <%= link_to "Change Password", edit_user_registration_path, class: "navbar-sparks-item navbar-sparks-link" %>
            <h3>Cancel my account</h3>

            <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
          </div>
          <% if current_user.is_speaker? %>
          <div role="tabpanel" class="tab-pane <%= params[:active_tab] == 'speaker-profile' ? 'active' : '' %>" id="speaker-profile">
            <%= render 'shared/speaker-details', user: @user %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

