<div class="user-show-wrapper">
  <div class="user-show-container">
    <div class="user-show-col-1">
      <% image = @user.photo.url ? @user.photo : "https://res.cloudinary.com/montycat/image/upload/v1520001176/profile-placeholder.png" %>
      <div class="user-show-photo" style="background-image: url('<%= cl_image_path image %>')">
      </div>
      <div class="user-show-verified-info">
        <div class="verified-heading">
          <p>Verified Info</p>
        </div>
        <div class="verified-info">
          <p>Email Address <% if @user.confirmed_at %><span><i class="far fa-check-circle"></i></span><% end %></p>
          <p>Phone Number<% if @user.phone_number %><span><i class="far fa-check-circle"></i></span><% end %></p>
          <% if @user.is_speaker %><p>Speaker</%><span><i class="far fa-check-circle"></i></span><% end %></p>
        </div>
      </div>
      <div class="user-show-verified-info">
        <div class="verified-heading">
          <p>About</p>
        </div>
        <div class="verified-info">
          <div class="user-show-job">
            <h5>Job Title</h5>
            <p><%= @user.job_title ? @user.job_title : "None" %></p>
          </div>
          <div class="user-show-city">
            <h5>City</h5>
            <p><%= @user.city ? @user.city : "None" %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="user-show-col-2">
      <div class="user-show-name">
        <h2><%= @user.full_name %></h2>
        <h5>Member Since - <%= @user.created_at.strftime("%B %Y") %></h5>
        <% if current_user == @user %>
        <%= link_to "Edit Profile", dashboard_path(current_user, active_tab: 'profile') %>
        <% end %>
      </div>
      <div class="user-show-description">
        <h3>About</h3>
        <p><%= @user.about ? @user.about : "No description added" %></p>
      </div>
    </div>
  </div>
</div>





