
<div class="user-profile-wrapper">
  <div class="user-profile-container">
    <div class="user-avatar-profile text-center">
      <div class="user-avatar text-center">
        <% image = current_user.photo.url ? current_user.photo : "http://res.cloudinary.com/montycat/image/upload/v1520001176/profile-placeholder.png" %>
        <%= cl_image_tag image, class: "message-avatar text-center", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <button type="button" class="btn add-photo" data-toggle="collapse" data-target="#demo">+</button>
      </div>
      <div class="load-photo">
        <div id="demo" class="collapse text-left">
          <%= render 'shared/user-photo-loader' %>
        </div>
      </div>
    </div>
    <div class="user-profile-info text-center">
      <ul class="text-center">
        <li>
          <p><%= @user.first_name %>  <%= @user.last_name %></p>
        </li>
        <li>
          <p>job description</p>
        </li>
        <li>
          <%= link_to 'Send message', new_user_message_path(@user), class: 'btn btn-primary' %>
        </li>
      </ul>
    </div>
    <div class="user-bio-profile">
      <h1 class="text-center">Description</h1>
      <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam fugit laudantium dicta modi aliquid harum quidem nostrum atque corporis dolorum. Aspernatur doloremque dolores exercitationem, vel suscipit omnis non officiis enim.</p>
    </div>
    <div class="user-profile-social-media">
      <ul>
        <li><i class="fab fa-facebook-square"></i></li>
        <li><i class="fab fa-twitter-square"></i></li>
        <li><i class="fab fa-instagram"></i></li>
        <li><i class="fab fa-pinterest-square"></i></li>
      </ul>
    </div>
  </div>
</div>

