<div class="card-wrap scaled">
  <%= link_to space_path(space) do %>
  <% image = space.photo.url ? space.photo : "http://res.cloudinary.com/montycat/image/upload/v1520002290/no-image.png" %>
  <div class="card" style="background-image: url('<%= cl_image_path image %>');">
  </div>
  <div class="card-info">
    <div class="card-description">
      <h2><%= space.name.upcase %></h2>
    </div>
    <p id="location"><%= space.location %></p>
    <p id="capacity"><i class="fas fa-users"></i><%= space.capacity %></p>
    <p id="floor_space"><%= space.floor_space %> sq ft</p>
    <p id="price">from £<%= space.price %> per hour</p>
  </div>
  <% end %>
</div>
