<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-xs-2">
        <%= f.input :title, label: false, placeholder: 'Title', required: false %>
      </div>
      <div class="col-xs-5">
        <%= f.input :first_name, label: false, placeholder: 'First name', required: false %>
      </div>
      <div class="col-xs-5">
        <%= f.input :last_name, label: false, placeholder: 'Last name', required: false %>
      </div>
    </div>
    <%= f.input :email, label: false, placeholder: 'Email Address', required: true, autofocus: true %>
    <%= f.input :password, label: false, placeholder: 'Password', required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, label: false, placeholder: 'Confirm Password', required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<a id='forgot_password' href="/users/password/new">Forgot your password?</a>
