<%= simple_form_for(user, url: url) do |f| %>
  <div class="speaker-bio">
    <h3>Tell us a bit about yourself</h3>
    <%= f.input :speaker_blurb, label:false, placeholder: 'Your bio goes here...' %>
  </div>
  <div class="speaker-location">
    <h3>Where are you based?</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-6 user_address">
        <%= f.input :address, label:false, placeholder: 'Address' %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <%= f.input :city, label: false, placeholder: 'City, town, etc...' %>
        <%= f.input :postcode, label: false, placeholder: 'Poscode' %>
      </div>
    </div>
  </div>
  <div class="speaker-info">
    <h3>How do you want to work?</h3>
    <div class="row">
      <div class="col-xs-4">
        <h5>How far are you willing to travel?</h5>
      </div>
      <div class="col-xs-3">
        <h5>What's your minimum price?</h5>
      </div>
      <div class="col-xs-5">
        <h5>What category of speaker are you?</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <%= f.input :travel_distance, label: false, placeholder: 'km' %>
      </div>
      <div class="col-xs-3">
        <%= f.input :cost, label: false %>
      </div>
      <div class="col-xs-5">
        <%= f.association :categories, as: :check_boxes, label: false %>
      </div>
    </div>
  </div>
  <div class="social-media">
    <h3>Any social media links?</h3>
    <div class="row">
      <div class="col-xs-4"><h5>Facebook <i class="fab fa-facebook-square"></i></h5></div>
      <div class="col-xs-4"><h5>Twitter <i class="fab fa-twitter-square"></i></h5></div>
      <div class="col-xs-4"><h5>LinkedIn <i class="fab fa-linkedin"></i></h5></div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <%= f.input :facebook, label: false %>
      </div>
      <div class="col-xs-4">
        <%= f.input :twitter, label: false %>
      </div>
      <div class="col-xs-4">
        <%= f.input :linkedin, label: false %>
      </div>
    </div>
  </div>

  <%= f.button :submit, class: 'btn btn-primary', value: 'Save' %>
<% end %>
