<div id="card-display">
    <div class="card-wrap scaled">
      <%= link_to user_speaker_path(user) do %>
      <div class="card" style="background-image: url('https://res.cloudinary.com/montycat/image/upload/q_64/v1520614987/Backer_image.jpg') width:300, height:400">
      </div>
        <div class="card-description">
          <h2><%= user.first_name %> <%= user.last_name %></h2>
          <p><%= humanized_money_with_symbol(user.cost)%> per hour</p>
          <p><%= user.city %></p>
          <p><%= user.cost %></p>
        </div>
      <% end %>
    </div>
</div>
