<div class="speaker-det-wrapper">
  <div class="speaker-det-container">
   <div class="dash-prof-title">
    <p>Speaker Area</p>
  </div>
  <% if current_user.is_speaker.nil? || current_user.is_speaker == false %>
  <%= link_to 'Create Speaker Pofile', user_speaker_new_path(current_user), class: 'btn btn-primary' %>
  <% else %>
  <%= link_to 'Edit Profile', user_speaker_edit_path(current_user), class: 'btn btn-success' %>
  <%= link_to 'Preview', user_speaker_path(current_user), class: 'btn btn-primary' %>
  <% end %>
  <div class="speaker-stats">
    <div class="speaker-requests">
      <p>Invites Received</p>
      <% user.invites.where(status: 'pending').each do |invite| %>
      <div class="new-invite">
        <%= link_to invite.event.name, event_path(invite.event) %>
      </div>
      <% end %>
    </div>
    <div class="upcoming-events">
      <p>Upcoming Events</p>
      <% user.invites.where(status: 'accepted').each do |invite| %>
      <div class="event">
        <%= link_to invite.event.name, event_path(invite.event) %> - <%= invite.event.start_date %>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>
