
  <div class="main-dashboard-container">
    <div class="left-container">
      <div class="top-left-container">

        <%= link_to 'Edit', edit_user_event_path([@event.user, @event]), class: 'btn btn-success' %>
        <%= link_to 'Delete', event_path(@event), class: 'btn btn-danger', method: 'delete' %>
        <%= link_to 'Book',  event_user_bookings_path(@event), class: 'btn btn-success', method: 'post' %>

        <h2><%=@event.name%></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
        <h2>Biography</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
      </div>

    <div class="right-container">
      <div class="top-right-container">
        <div class="tabs">
          <button class="tabs-button" onclick="openTabs('Photo')">Photo</button>
          <button class="tabs-button" onclick="openTabs('Video')">Video</button>
          <button class="tabs-button" onclick="openTabs('Links')">Links</button>
        </div>

        <div id="Photo" class="tab" style="display:block">
              <div class="dashboard-media">
                <%= render 'shared/carousel' %>
              </div>
              <div class="dashboard-text">
                <h2>Photo Info</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
              </div>
        </div>
        <div id="Video" class="tab" style="display:none">
            <div class="dashboard-media">
              <%= render 'shared/carousel' %>
            </div>
            <div class="dashboard-text">
              <h2>Video Info</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
            </div>
        </div>
        <div id="Links" class="tab" style="display:none">
            <div class="dashboard-media">
              <%= render 'shared/carousel' %>
            </div>
            <div class="dashboard-text">
              <h2>Links Info</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio hic esse, sed dolor, repudiandae sunt aliquid molestiae nesciunt minima neque error consequuntur, eum impedit et, quia. Est adipisci modi itaque.</p>
            </div>
        </div>
      </div>
    </div>
  </div>


<script>
function openTabs(tab) {
    var i;
    var x = document.getElementsByClassName("tab");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    document.getElementById(tab).style.display = "block";
}
</script>



