<%= render 'shared/banner'%>

<div class="container">
  <div class="col-xs-12">
    <div class="row">
      <hr>
      <h1 class="text-center" id="gallery">Browse by categories</h1>
      <hr>
      <div class="gallery" >
        <%= link_to speakers_path(category: "Business") do%>
        <div class="category" style="background-image: url('https://avatars2.githubusercontent.com/u/34913884?v=4')">
          <p class="description text-center">Business</p>
        </div>
        <% end %>
        <%= link_to speakers_path(category: "Economics") do%>
        <div class="category" style="background-image: url('https://avatars3.githubusercontent.com/u/34716281?v=4')">
          <p class="description text-center">Economics</p>
        </div>
        <% end %>
        <%= link_to speakers_path(category: "Politics") do%>
        <div class="category" style="background-image: url('https://avatars1.githubusercontent.com/u/22352499?v=4')">
          <p class="description text-center">Politics</p>
        </div>
        <% end %>
        <%= link_to speakers_path(category: "Education") do%>
        <div class="category" style="background-image: url('https://avatars3.githubusercontent.com/u/32840688?v=4')">
          <p class="description text-center">Education</p>
        </div>
        <% end %>
        <%= link_to speakers_path(category: "Celebrity") do%>
        <div class="category" style="background-image: url('https://avatars2.githubusercontent.com/u/33736538?v=4')">
          <p class="description text-center">Celebrity</p>
        </div>
        <% end %>
        <%= link_to speakers_path(category: "Technology") do%>
        <div class="category" style="background-image: url('https://avatars3.githubusercontent.com/u/26032680?v=4')">
          <p class="description text-center">Technology</p>
        </div>
        <% end %>
        <%= link_to speakers_path(category: "Motivational") do%>
        <div class="category" style="background-image: url('https://avatars0.githubusercontent.com/u/23644122?v=4')">
          <p class="description text-center">Motivational</p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>

<hr>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4 text-center">How it works</h2>
  </div>
</div>



<div class="container">
  <ul class="timeline">
    <li>
      <div class="timeline-badge">1</div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Search for a great speaker</h4>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning">2</div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Find the perfect match for your event</h4>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge danger">3</div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Contact the speaker of your choice</h4>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge info">4</div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Discuss the fine print</h4>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge success">5</i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Book the speaker of your dreams</h4>
        </div>
      </div>
    </div>
  </ul>
</div>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"></h1>
    <p class="lead text-center">Start your search today</p>
    <div class="arrow-container">
      <a href="#banner3">
        <div class="up-arrow">
          <i class="fas fa-angle-up"></i>
        </div>
      </a>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
