<%= render 'shared/banner'%>

<div class="container">
  <div class="col-xs-12">
    <div class="row">
    <hr>
    <h1 class="text-center">Browse by categories</h1>
    <hr>
      <div class="gallery">
        <%= link_to speakers_path(category: "Business") do%>
        <div class="category" style="background-image: url('https://assets.bwbx.io/images/users/iqjWHBFdfxIU/iLZ.fSzVvwvs/v0/600x-1.jpg')">
        <h3 class="text-center">Business</h3>
        </div>
        <% end %>
        <%= link_to speakers_path(category: "Economics") do%>
        <div class="category" style="background-image: url('http://static3.uk.businessinsider.com/image/5a0f17d2ec1ade11a02b4adc/amazon-ceo-and-worlds-richest-man-jeff-bezos-avoids-a-common-time-wasting-daily-habit.jpg')">
        <h3 class="text-center">Economics</h3>
        </div>
        <% end %>
        <%= link_to speakers_path(category: "Politics") do%>
        <div class="category" style="background-image: url('https://timedotcom.files.wordpress.com/2017/12/barack-obama.jpeg')">
        <h3 class="text-center">Politics</h3>
        </div>
        <% end %>
        <%= link_to speakers_path(category: "Education") do%>
        <div class="category" style="background-image: url('http://factsanddetails.com/media/2/20090818-NobelPrizeorgnambu_medal_photo.jpg')">
        <h3 class="text-center">Education</h3>
        </div>
        <% end %>
        <%= link_to speakers_path(category: "Celebrity") do%>
        <div class="category" style="background-image: url('https://ngscrypto.com/storage/media/2016/10/3/10783/ac502d19a89289495ec30021b45d52dcbf99fbfc.jpg')">
        <h3 class="text-center">Celebrity</h3>
        </div>
        <% end %>
        <%= link_to speakers_path(category: "Technology") do%>
        <div class="category" style="background-image: url('https://s3.amazonaws.com/talkstar-photos/uploads/e0bcf2a3-9f82-42b7-aeaf-054d83e84d51/ElonMusk_2017-embed.jpg')">
        <h3 class="text-center">Technology</h3>
        </div>
        <% end %>
        <%= link_to speakers_path(category: "Motivational") do%>
        <div class="category" style="background-image: url('https://timedotcom.files.wordpress.com/2014/05/457508111.jpg')">
        <h3 class="text-center">Motivational</h3>
        </div>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>

<hr>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4 text-center">How it works</h2>
  </div>
</div>



<div class="container">
    <ul class="timeline">
        <li>
          <div class="timeline-badge">1</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Search for a great speaker</h4>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning">2</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">find the perfect match for your event</h4>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge danger">3</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Contact the speaker of your choice</h4>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge info">4</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Discuss the fine print</h4>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge success">5</i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Book the speaker of your dreams</h4>
            </div>
          </div>
        </div>
    </ul>
</div>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"></h1>
    <p class="lead text-center">Start your search today</p>
  </div>
</div>
