<%= render 'shared/banner'%>

<div class="container">
  <div class="col-xs-12">
    <div class="row">
    <h1 class="text-center">Browse by categories</h1>
    <hr>
      <div class="gallery">
        <%= link_to speakers_path(category: "Business") do%>
        <div>
          <img class="category well"  src="https://images.unsplash.com/photo-1491336477066-31156b5e4f35?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b7e9246619019d54ead8fe9ea7c821a9&auto=format&fit=crop&w=800&q=60" alt="" textarea="Business">
          <!-- <h4 class="text-center well">Business</h4> -->
        </div>
        <% end %>
        <%= link_to speakers_path(category: "Economics") do%>
        <div>
        <img class="category well" src="https://images.unsplash.com/photo-1520328925293-b3f5fa2076ec?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=19cb5eccccec8b38ecde9a50f85d129b&auto=format&fit=crop&w=800&q=60" alt="">
        <!-- <h4 class="text-center well">Economics</h4> -->
        </div>
        <% end %>
        <%= link_to speakers_path(category: "Celebrity") do%>
        <div>
        <img class="category well" src="https://images.unsplash.com/photo-1518702332295-44d02723c212?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3eeadbe2495a4e7efcb203f0f2fb5b36&auto=format&fit=crop&w=800&q=60" alt="">
        <!-- <h4 class="text-center well">Celebrity</h4> -->
        </div>
        <% end %>
        <%= link_to speakers_path(category: "Politics") do%>
        <div>
        <img class="category well" src="https://images.unsplash.com/photo-1496071488503-ce9f04b42be0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1297f1e8595a5e375f676ef1e757c840&auto=format&fit=crop&w=800&q=60')">
        <!-- <h4 class="text-center well">Politics</h4> -->
        </div>
        <% end %>
        <%= link_to speakers_path(category: "Motivational") do%>
        <div>
        <img class="category well" src="https://images.unsplash.com/photo-1516062423079-7ca13cdc7f5a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2d8091fa5f63ab00decd568cd0c484f8&auto=format&fit=crop&w=800&q=60" alt="">
        <!-- <h4 class="text-center well">Motivational</h4> -->
        </div>
        <% end %>
        <%= link_to speakers_path(category: "Education") do%>
        <div>
        <img class="category well" src="https://images.unsplash.com/photo-1498243691581-b145c3f54a5a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3aef6d10744dd7cbc836b631f46c1e5e&auto=format&fit=crop&w=800&q=60" alt="">
        <!-- <h4 class="text-center well">Education</h4> -->
        </div>
        <% end %>
        <%= link_to speakers_path(category: "Technology") do%>
        <div>
        <img class="category well" src="https://images.unsplash.com/photo-1495627009230-9e30e647c7cc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=49b619699c6bd04f27cbb51f67e450b5&auto=format&fit=crop&w=800&q=60" alt="">
        <!-- <h4 class="text-center well">Technology</h4> -->
        </div>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>

<hr>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-4 text-center">How easy is it to find the right speaker for you?</h2>
  </div>
</div>



<div class="container">
    <ul class="timeline">
        <li>
          <div class="timeline-badge">1</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Search for a great speaker</h4>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning">2</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">find the perfect match for your event</h4>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge danger">3</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Contact the speaker of your choice</h4>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge info">4</div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Discuss the fine print</h4>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge success">5</i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Book the speaker of your dreams</h4>
            </div>
          </div>
        </div>
    </ul>
</div>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"></h1>
    <p class="lead text-center">Now start your search for a creat entertainer</p>
  </div>
</div>
