<div class="page-container">
  <div class="page-card-container speaker-profile">
    <div class="profile-half first">
      <div class="review-stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <div class="speaker-title">
        <h1><%= @user.first_name %></h1>
        <h1><%= @user.last_name %></h1>
        <h4>??? MBA ????</h4>
      </div>
      <div class="speaker-blurb">
        <p>???? This is going to be a space to put a short speaker blurb ????</p>
      </div>
      <div class="speaker-qualities">
        <div class="speaker-talk-types">
          <p>Talk Types</p>
          <span></span>
          <ul>
            <% @user.talks.each do |talk| %>
            <li><%= talk.name %></li>
            <% end %>
          </ul>
        </div>
        <div class="speaker-talk-types">
          <p>Expertise</p>
          <span></span>
          <ul>
            <% @user.categories.each do |cat| %>
            <li><%= cat.name %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="speaker-location">
        <p>Location:</p>
        <p>???? speaker city, county, country</p>
      </div>
    </div>
    <div class="profile-half second">
      <% image = @user.photo.url ? @user.photo.url : "https://res.cloudinary.com/montycat/image/upload/v1520001176/profile-placeholder.png" %>
      <div class="speaker-profile-image" style="background-image: url(<%= cl_image_path(image, secure: "true") %>);">
      </div>
      <div class="booking-area">
        <div class="speaker-fee">
          <p>from</p>
          <p>£<%= @user.cost %></p>
        </div>
        <%#= render "shared/invite_form" %>
        <%= simple_form_for(@user, html: { id: 'invite_message' }, url: user_invites_path(params[:user_id]), method: 'post') do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :events, collection: current_user.events, required: false, prompt: "Select event", label: false, autofocus: true, class: 'event_content', inputHTML: { name: 'event' } %>
          <div class="plus-create-link">
            <%= link_to "+ New Event", new_event_path, class: "" %>
          </div>
          <div class="booking-calc inactive">
            <p>Estimate</p>
            <div class="talk-cost">
            </div>
            <div class="cost-line">
              <p>Total</p>
              <p id="booking-total"></p>
            </div>
            <%= f.button :submit, "Request Booking", id: 'invite_message_button' %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<script>
  const dropDown = document.getElementById('user_events')
  const talkCost = document.querySelector('.talk-cost')
  const bookingCalc = document.querySelector('.booking-calc')

  dropDown.addEventListener('change', e => {
    bookingCalc.classList.add('inactive')
    bookingCalc.classList.remove('active')
    talkCost.innerHTML = ''

    const renderCosts = () => {
      const costObj = {
        talk: <%= @user.cost %>,
        fee: <%= @user.cost * 0.05 %>
      }

      let total = 0
      for(item in costObj) {
        total += costObj[item]
        const div = document.createElement('div')
        div.classList.add('cost-line')
        const pD = document.createElement('p')
        const pT = document.createElement('p')
        pD.innerText = `1 x ${item}`
        pT.innerText = `£${costObj[item].toFixed(2)}`
        div.appendChild(pD)
        div.appendChild(pT)
        talkCost.appendChild(div)
        if(item === 'fee') {
          const tT = document.getElementById('booking-total')
          tT.innerText = `£${total.toFixed(2)}`
        }
      }

      bookingCalc.classList.remove('inactive')
      bookingCalc.classList.add('active')
    }

    dropDown.value ? renderCosts() : null

  })
</script>

