<%= render 'shared/filter-searchbar' %>
<h4 id="index-header" class="text-center">Choose the perfect speaker for your event in <%= params[:location] %></h4>
<div class="container-index">
  <% @users.each do |user| %>
    <%= link_to user_speaker_path(user) do %>
      <div class="card-index" style="background-image: url('https://avatars2.githubusercontent.com/u/34913884?v=4')">
        <div class="description text-center">
          <p><%= user.first_name %> <%= user.last_name %></p>
          <p><%= user.job_title%></p>
          <p><%= user.city %></p>
          <p><%= user.cost %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>




