<%= render 'speakers/shared/invite-message-modal' %>
<div class="show_page_wrapper">
  <div class="speaker_show_banner">
    <div class="speaker-button">
      <%= link_to 'Send message', new_user_message_path(@user)%>
    </div>
    <div class="speaker_image_carousel">
      <% if @user.user_photos.empty? %>
      <div class="speaker_show_banner_image" style="background-image: url(<%= cl_image_path("https://res.cloudinary.com/montycat/image/upload/v1520001176/profile-placeholder.png", secure: "true") %>);">
      </div>
      <% else %>
      <% @user.user_photos.each do |photo| %>
      <div class="speaker_show_banner_image" style="background-image: url(<%= cl_image_path(photo.photo.url, secure: "true") %>);">
      </div>
      <% end %>
      <% end %>
    </div>
    <div class="slider-nav">
      <% @user.user_photos.each do |photo| %>
      <%= cl_image_tag(photo.photo.url, secure: "true", class: "slick_nav_images") %>
      <% end %>
    </div>
    <div class="speaker_info_box">
      <% image = @user.photo.url ? @user.photo.url : "https://res.cloudinary.com/montycat/image/upload/v1520001176/profile-placeholder.png" %>
      <div class="speaker_show_avatar" style="background-image: url(<%= cl_image_path(image, secure: "true") %>);">
      </div>
      <div class="avatar_details">
        <h1> <%= @user.first_name %> <%= @user.last_name %></h1>
        <h2><%= @user.job_title %></h2>
        <p><%= @user.city %></p>
        <ul>
          <% @user.user_tags.each do |tag| %>
          <li><%= tag.category.name %></li>
          <% end %>
        </ul>
        <ul>
          <li><a class="social_links" target="_blank" href="https://www.facebook.com/<%= @user.facebook %>"><h5>Facebook <i class="fab fa-facebook-square"></i></h5></a></li>
          <li><a class="social_links" target="_blank" href="https://twitter.com/<%= @user.twitter %>"><h5>Twitter <i class="fab fa-twitter-square"></i></h5></a></li>
          <li><a class="social_links" target="_blank" href="https://www.linkedin.com/in/<%= @user.linkedin %>"><h5>LinkedIn <i class="fab fa-linkedin"></i></h5></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="speaker_info_container">
    <div class="speaker_info">
      <h3>About <%= @user.first_name %> <%= @user.last_name %></h3>
      <p><%= @user.speaker_blurb %></p>
    </div>
  </div>
  <div class="booking_button">
    <button class="speaker-button" data-toggle="modal" data-target="#invite_modal">Book Speaker</button>
  </div>
</div>
