<!-- #banner-image-static
#name
#categories they specialise in
#description
#call-to-action
#about the speaker - avec photo
#accolades?
#videos -->
<%= render 'shared/invite-message-modal' %>
<div class="big-container">
  <div class="profile-container col-xs-10-offset-2">
    <div class="profile col-xs-10-offset-2">
      <h1> <%= @user.first_name %> <%= @user.last_name %></h1>
      <div class="infoHolder col-xs-10-offset-2">
      <h2><%= @user.job_title %></h2>
      <p><%= @user.speaker_blurb %></p>
      <ul>
        <% @user.user_tags.each do |tag| %>
        <li><%= tag.category.name %></li>
        <% end %>
      </ul>

      </div>
      <div class="imageHolder col-xs-10-offset-2">
        <div class="profilePic" style="width:400, height:500">
          <% image = current_user.photo.url ? current_user.photo : "http://res.cloudinary.com/montycat/image/upload/v1520001176/profile-placeholder.png" %>
          <%= image_tag(image)%>
        </div>
      </div>
    </div>
  </div>
  <div class="speaker-wrapper">
    <div class="row speaker-show-image">
      <div class="speaker-banner-wrapper col-xs-12 col-xs-12-offset-8">
        <div class="speaker-banner col-xs-12 col-xs-12-offset-8">
        </div>
        <div class="message-button">
          <div id="message-btn">
            <%= link_to 'Send message', new_user_message_path(@user)%>
          </div>
        </div>
        <div class=" speaker-profile-carousel">
          <%= render 'shared/speaker-carousel' %>
        </div>
        <div class="invite-button">
          <button id='invite-btn' type="button" data-button="login-form" data-toggle="modal" data-target="#invite_modal">Request Booking</button>
        </div>
      </div>
    </div>
  </div>
</div>




